---
import Layout from '../../layouts/Layout.astro';
import type { GetStaticPaths } from 'astro';
import { getCollection, render } from 'astro:content';
import type { BlogPost } from '../../content.config';
import Panel from '../../components/Panel.astro';
import Prose from '../../components/Prose.astro';

export async function getStaticPaths() {
  const blogPosts = (await getCollection('blog')) as BlogPost[];
  return blogPosts.map((post) => {
    return { params: { post: post.id }, props: { post } };
  });
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout>
  <article class="post grid-container">
    <Panel class="col-1-1">
      <Prose>
        <div class="post-header">
          <a href="/blog">← Back</a>
          <!-- <div class="post-title"> -->
          <!-- <span> -->
          <!-- {post.data.title} -->
          <!-- </span> -->
          <!-- <small> -->
          <!-- <time class="post-timestamp" datetime={post.data.pubDate.toString()}>{post.data.pubDate.toDateString()}</time> -->
          <!-- </small> -->
          <!-- </div> -->
          <!-- <div></div> -->
        </div>
        <!-- <hr /> -->
      </Prose>
    </Panel>

    <Panel class="col-1-1">
      <Prose>
        <Content />
      </Prose>
    </Panel>
  </article>
</Layout>

<style>
  .post {
    .post-header {
      display: flex;
      justify-content: space-between;
    }

    .post-title {
      display: flex;
      flex-direction: column;
      h1 {
        margin: 0;
      }
    }
  }
</style>
