---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import type { BlogPost } from '../content.config';
import Panel from '../components/Panel.astro';
import Prose from '../components/Prose.astro';

const posts = (await getCollection('blog')) as BlogPost[];
---

<Layout>
  <article class="grid-container">
    <Panel class="col-1-1">
      <Prose>
        <h1>Blog</h1>
      </Prose>
    </Panel>

    {
      posts.map((post) => (
        <Panel class="col-1-2">
          <Prose>
            <a href={'/posts/' + post.id}>
              <h2>{post.data.title}</h2>
            </a>
            <span>{post.data.pubDate}</span>
            <p>{post.data.description}</p>
            <p>
              <a href={'/posts/' + post.id}>Read More</a>
            </p>
          </Prose>
        </Panel>
      ))
    }
  </article>
</Layout>

<style></style>
