---
import { BackToTop } from './BackToTop.tsx';
---

<footer class="padded-container mainFooter prose prose-muteoki dark:prose-inverted">
  <BackToTop client:only />
  <p>
    <small>
      hyenabyte.dev 2025 -
      <a href="https://github.com/hyenabyte/hyenabyte-astro" target="_blank"
        >source<i class="i-iconoir:code inline-block"></i></a
      >
    </small>
  </p>
</footer>

<style>
  footer {
    height: auto;
    margin-top: 4rem;
    margin-bottom: 6rem;

    & > p {
      text-align: right;
    }
  }
</style>
