---

---

<a class="logo prose prose-muteoki dark:prose-invert" aria-title="Go to homepage" href="/">
  <i class="icon text-4xl i-iconoir:wolf"></i>
</a>

<style>
  .logo {
    display: block;

    height: 2em;
    width: 2em;
  }
</style>
