---
import { Image } from 'astro:assets';
import Panel from '../components/Panel.astro';
import Prose from '../components/Prose.astro';
import profileImage from '../assets/images/profile.jpg';

type ProfileIcon = {
  url: string;
  label: string;
  icon: string;
};

const profileLinks: ProfileIcon[] = [
  {
    url: 'https://github.com/hyenabyte',
    label: 'Github',
    icon: 'i-iconoir:github',
  },
  {
    url: 'https://hachyderm.io/@hyena',
    label: 'Mastodon',
    icon: 'i-iconoir:mastodon',
  },
  //{
  //  url: '#',
  //  label: 'BlueSky',
  //  icon: 'i-iconoir:at-sign',
  //},
  {
    url: 'https://codepen.io/hyenabyte',
    label: 'Codepen',
    icon: 'i-iconoir:codepen',
  },
  {
    url: 'https://www.linkedin.com/in/davidkochg/',
    label: 'Linkedin',
    icon: 'i-iconoir:linkedin',
  },
];
---

<div class="profile grid-container">
  <div class="col-1-2 lg:col-1-3 row-span-2 flex items-center justify-center">
    <div class="image w-50 h-50 md:w-75 md:h-75 rounded-full overflow-hidden">
      <Image
        src={profileImage}
        alt="A black and white drawing of the head of hyena. The hyena has glowing white eyes, and a streak of glistening black oil running over its face."
      />
    </div>
  </div>
  <Panel class="col-1-2 lg:col-2-3 md:row-span-1 row-span-1 flex justify-center">
    <Prose class="text-center">
      <h1 class="profile-title text-muteoki-blue text-center">David Koch Gregersen</h1>
      <p class="text-center">Web Developer</p>
    </Prose>
  </Panel>
  <Panel class="col-1-6 lg:col-1-6 md:row-span-1 row-span-1 flex flex-col justify-center items-center">
    <Prose>
      <a href="/portfolio"><i class="i-iconoir:folder"></i> My Portfolio</a>
    </Prose>
  </Panel>
  <Panel class="col-1-3 lg:col-1-2 md:row-span-1 row-span-1">
    <Prose>
      <p>I am currently looking for work!</p>
      <p>
        Send me an email:<br />
        <a href="mailto:d@vidko.ch"><i class="i-iconoir:mail"></i> d@vidko.ch</a>
      </p>
    </Prose>
  </Panel>
  <Panel class="col-1-3">
    <Prose>
      <p>Check me out here</p>
      <ul>
        {
          profileLinks.map((link) => (
            <li>
              <a href={link.url} target="_blank">
                <i class:list={['icon', 'icon-invert', link.icon]} />
                {link.label}
              </a>
            </li>
          ))
        }
      </ul>
    </Prose>
  </Panel>
  <Panel class="col-2-3">
    <Prose>
      <p class="profile-description">
        Hi! I am <span class="text-muteoki-blue">David</span> and I am a developer, pixel artist, and more!
      </p>
      <p class="profile-description">
        By profession I am a full stack web developer and have worked extensively with PHP and Typescript, but by night
        I like to explore and learn new stuff. Most recently I have been obsessed with Nix and Gleam, but the techstacks
        for my personal projects are forever in flux.
      </p>
      <p class="profile-description">This website is a work in progress - more to come :)</p>
    </Prose>
  </Panel>
</div>
