---
type SidebarLink = {
  url: string;
  label: string;
  icon: string;
};

const sidebarLinks: SidebarLink[] = [
  {
    url: '/',
    label: 'Home',
    icon: 'icon-home',
  },
  {
    url: '/blog',
    label: 'Blog',
    icon: 'icon-blog',
  },
  {
    url: '/portfolio',
    label: 'Portfolio',
    icon: 'icon-folder',
  },
];
---

<div class="sidebar">
  <nav>
    <ul>
      <li>
        <i class="icon icon-menu"></i>
      </li>
      <hr />
      {
        sidebarLinks.map((link) => (
          <li>
            <a href={link.url}>
              <span class="sidebar-tooltip">{link.label}</span>
              <i class:list={['icon', link.icon]} />
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</div>

<style>
  .sidebar {
    display: none;

    position: fixed;
    top: 20px;
    right: 20px;

    padding: 0.5rem;

    border-radius: 3px;
    width: 50px;

    transition: 0.15s ease;

    background-color: rgb(var(--color-muteoki-base-900));
    color: rgb(var(--color-muteoki-paper));
    transition:
      background-color 0.15s ease,
      transform 0.3s;

    hr {
      border-color: rgb(var(--color-muteoki-base-700));
      margin: 0;
    }

    &:where(.dark, .dark *) {
      background-color: rgb(var(--color-muteoki-base-100));
      color: rgb(var(--color-muteoki-black));

      hr {
        border-color: rgb(var(--color-muteoki-base-300));
      }
    }

    nav {
      position: static;
      right: 0;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      height: 34px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;

        text-decoration: none;
        font-family: var(--font-mono);

        i {
          display: inline-block;
        }

        &:hover > .icon {
          background-color: rgb(var(--color-muteoki-yellow-light));
        }

        &:hover:where(.dark, .dark *) > .icon {
          background-color: rgb(var(--color-muteoki-yellow));
        }

        &:hover .sidebar-tooltip {
          opacity: 1;
        }
      }
    }

    .sidebar-tooltip {
      right: 120%;

      &::after {
        white-space: nowrap;
        content: ' ->';
      }
    }
  }

  @media (min-width: 640px) {
    .sidebar {
      display: block;
    }
  }
</style>
