.themeToggle {
  height: 18px;
  width: 34px;
  display: block;
  position: relative;
  border: none;
  cursor: pointer;
  float: right;

  &:hover .themeToggle-switch {
    background-color: rgb(var(--color-muteoki-yellow));
  }

  & > .themeToggle-slide {
    height: 18px;
    border: 1px solid rgb(var(--color-muteoki-base-200));
    border-radius: 18px;
    width: 100%;
    position: absolute;
  }

  & > .themeToggle-switch {
    position: absolute;
    top: 2px;
    left: 2px;
    right: auto;
    width: 14px;
    height: 14px;
    transition:
      left 0.1s linear,
      background-color 0.1s ease;
    background-color: rgb(var(--color-muteoki-base-200));

    mask-size: 14px;
    mask-position: 50% 50%;
    mask-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' stroke-width='2' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' color='%23000000'%3E%3Cpath d='M12 18C15.3137 18 18 15.3137 18 12C18 8.68629 15.3137 6 12 6C8.68629 6 6 8.68629 6 12C6 15.3137 8.68629 18 12 18Z' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M22 12L23 12' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M12 2V1' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M12 23V22' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M20 20L19 19' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M20 4L19 5' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M4 20L5 19' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M4 4L5 5' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M1 12L2 12' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
  }

  &:where(.dark, .dark *) {
    & > .themeToggle-switch {
      left: 18px;
      background-color: rgb(var(--color-muteoki-base-800));
      mask-image: url("data:image/svg+xml,%3Csvg width='16px' height='16px' stroke-width='2' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' color='%23000000'%3E%3Cpath d='M3 11.5066C3 16.7497 7.25034 21 12.4934 21C16.2209 21 19.4466 18.8518 21 15.7259C12.4934 15.7259 8.27411 11.5066 8.27411 3C5.14821 4.55344 3 7.77915 3 11.5066Z' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
    }

    & > .themeToggle-slide {
      border: 1px solid rgb(var(--color-muteoki-base-800));
    }

    &:hover > .themeToggle-switch {
      background-color: rgb(var(--color-muteoki-blue));
    }
  }
}
