@import 'styles/colors.css';
/* @import 'styles/fonts.css'; */
/* @import 'styles/icons.css'; */
@import 'styles/media.css';
@import 'styles/misc.css';
@import 'styles/animations.css';
@import 'styles/decorations.css';

/* @import 'styles/table.css'; */
/* @import 'styles/layouts.css'; */
/* @import 'styles/typography.css'; */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  margin: 0;
  line-height: inherit;

  background-color: rgb(var(--color-muteoki-paper));
  transition: background-color 0.15s ease;

  &:where(.dark, .dark *) {
    background-color: rgb(var(--color-muteoki-black));
  }
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

main {
  flex: 1;
}

/* Buttons */
button,
[role='button'] {
  cursor: pointer;
}

/* Tooltips */
.sidebar-tooltip,
.profile-icon-tooltip {
  opacity: 0;
  font-family: var(--font-mono);

  color: rgb(var(--color-muteoki-black));
  background-color: rgb(var(--color-muteoki-paper));
  padding: 0.2rem 0.5rem;

  pointer-events: none;

  position: absolute;

  transition: opacity 0.15s ease;

  z-index: 10;

  &:where(.dark, .dark *) {
    color: rgb(var(--color-muteoki-paper));
    background-color: rgb(var(--color-muteoki-black));
  }
}
