/* ICONS */

.icon {
  display: inline-block;

  transition: color 0.1s ease;

  color: rgb(var(--color-muteoki-base-200));

  &:where(.dark, .dark *) {
    color: rgb(var(--color-muteoki-base-800));
  }

  &.icon-invert {
    color: rgb(var(--color-muteoki-base-800));

    &:where(.dark, .dark *) {
      color: rgb(var(--color-muteoki-base-200));
    }
  }
}

a:hover > .icon {
  background-color: rgb(var(--color-muteoki-cyan-light));
}
