---
import Layout from '../../layouts/Layout.astro';
import type { GetStaticPaths } from 'astro';
import { getCollection, render } from 'astro:content';
import PanelImage from '../../components/PanelImage.astro';
import Panel from '../../components/Panel.astro';
import Prose from '../../components/Prose.astro';

export async function getStaticPaths() {
  const portfolioProjects = await getCollection('portfolio');
  return portfolioProjects.map((project) => {
    console.log(project);
    return { params: { project: project.id }, props: { project } };
  });
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<Layout>
  <article class="post grid-container">
    <Panel class="col-1-1">
      <div class="post-header">
        <Prose>
          <a href="/portfolio">← Back</a>
        </Prose>
        <Prose>
          <a href={project.data.url} target="_blank">Visit site</a>
        </Prose>
      </div>
    </Panel>

    <PanelImage class="col-1-1 w-full" src={project.data.thumbnail} alt={project.data.thumbnailAlt} />
    <Panel class="col-1-1">
      <Prose>
        <Content />
      </Prose>
    </Panel>
  </article>
</Layout>

<style>
  .post {
    .post-header {
      display: flex;
      justify-content: space-between;
    }

    .post-title {
      display: flex;
      flex-direction: column;
      h1 {
        margin: 0;
      }
    }
  }
</style>
